<%= link_to 'New Sleep log', new_sleep_log_path %>
<%= link_to 'Food Logs', food_logs_path %>

<h1>Sleep Logs</h1>

<% sum = 0 %>
<% @sleep_logs.each do |sleep_log| %>
  <% sum = sum + (sleep_log.wake_up - sleep_log.sleep)/60/60 %>
<% end %>
<% if @sleep_logs.count > 0 %>
  <p>Average sleep: <%= (sum/@sleep_logs.count).round 1 %></p>
<%end%>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Sleep</th>
      <th>Wake up</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sleep_logs.each do |sleep_log| %>
      <tr>
        <td><%= sleep_log.date %></td>
        <td><%= sleep_log.sleep %></td>
        <td><%= sleep_log.wake_up %></td>
        <td><%= ((sleep_log.wake_up - sleep_log.sleep)/60/60).round 1 %></td>
        <td><%= link_to 'Edit', edit_sleep_log_path(sleep_log) %></td>
        <td><%= link_to 'Destroy', sleep_log, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sleep log', new_sleep_log_path %>
